// Start The Global Style
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fredoka", sans-serif;
  font-family: "Open Sans", sans-serif;
}
// Start The Sweet Alert
.sweet-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: red;
  padding: 20px;
  width: fit-content;
  opacity: 0.7;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
// End The Sweet Alert
// End The Global Style
// Start The Add Task Conatiner
.add-task-container {
  background-color: aqua;
  padding: 15px 10px;
  position: relative;

  @media (min-width: 1400px) {
    & {
      width: 1400px;
      margin: auto;
    }
  }

  input {
    width: 100%;
    height: 45px;
    color: white;
    font-size: 18px;
    background-color: #0000ff36;
    padding: 2px 10px;
    border: none;

    &:focus {
      outline: none;
    }
  }
  span {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 32px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    user-select: none;
    text-align: center;
    line-height: 40px;
    cursor: pointer;

    &:hover {
      transform: rotate(50deg);
      -webkit-transform: rotate(50deg);
      -moz-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
      -o-transform: rotate(50deg);
    }
  }
}
// End The Add Task Conatiner
// Start The Tasks Container
.tasks-container {
  background-color: aliceblue;
  margin-top: 5px;
  padding: 10px 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 126px);

  @media (min-width: 1400px) {
    & {
      width: 1400px;
      margin: auto;
    }
  }

  div {
    background-color: white;
    color: gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      border-bottom: 1px solid gray;
    }
    &.complate-task {
      text-decoration: line-through blue;
      opacity: 0.5;
    }
    p {
      max-width: 80%;
      word-break: break-all;
    }
    span {
      background-color: red;
      padding: 5px 10px;
      color: white;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
        font-weight: 500;
      }
    }
  }
}
// End The Tasks Container
// Start The info
.info {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;

  div {
    color: gray;

    span {
      padding: 5px;
      color: white;
    }
    &:first-child span {
      background-color: red;
    }
    &:last-child span {
      background-color: blue;
    }
  }
}
// End The info
